@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
$sm: 576px;

$black: #333;
$white: #fff;
$grey: #aaa;
$ms-grey: #d2d2d2;
$ms-grey-dark: #777;
$kashmir-blue: #4f6c95;
$golden: #fdce4d;
$banana: #fdeaaf;
$carrot: #f6a640;
$turmeric: #ccc94f;

$primary-color: $golden;
$primary-color-dark: darken( $primary-color, 10% );
$primary-color-tint: $banana;
$secondary-color: $carrot;

$primary-font: "Open Sans", sans-serif;

$border-radius-large: 25px;
$border-radius: 10px;

$border-width-large: 5px;
$border-width: 3px;

$spacer-large: 1rem;
$spacer: 0.5rem;
$spacer-small: 0.25rem;

$header-height: 30px;
$side-nav-width: 130px;

* { box-sizing: border-box; }
body {
	display: flex;
	background-color: $white;
	font-family: $primary-font;
	font-size: 16px;
	line-height: 1.5em;
	color: $black;
}

a {
	text-decoration: none;
	color: $kashmir-blue;
}

h1 {
	font-size: 1rem;
	font-weight: 700;
	text-align: center;
}

h2 {
	font-size: 0.875rem;
	font-weight: 700;
	text-align: center;
}

%button {
	padding: 2px 5px;
	background-color: $ms-grey;
	border: solid 1px;
	border-top-color: $white;
	border-left-color: $white;
	border-bottom-color: $ms-grey-dark;
	border-right-color: $ms-grey-dark;
	line-height: 1;
}

.button {
	@extend %button;
}

.form-control {
	height: 18px;
	padding: 0 2px;
	border-radius: 0;
	border: solid 1px;
	border-top-color: $ms-grey-dark;
	border-left-color: $ms-grey-dark;
	border-bottom-color: $white;
	border-right-color: $white;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.form-select {
	position: relative;
	line-height: 0;
	
	&::after {
		@extend %button;
		content: '\25BE';
		position: absolute;
		right: 1px;
		top: 1px;
		height: calc(100% - 4px);
		padding-top: 0;
		padding-bottom: 0;
		line-height: 0.75;
		pointer-events: none;
	}
}

#app {
	width: 100%;
}

.container {
	width: 100%;
	max-width: 680px;
	
	@media (min-width: $sm) {
		display: grid;
		grid-template-columns: minmax($side-nav-width, 1fr) 4fr;
		grid-template-rows: auto;
		grid-template-areas: 
			"header header"
			"nav content";
	}
}

.header {
	display: flex;
	grid-area: header;
	width: calc(100% - #{$border-radius-large});
	min-height: $header-height;
	border-bottom: solid $border-width $black;
	
	@media (min-width: $sm) {
		align-items: flex-end;
	}
	
	.hamburger {
		position: relative;
		display: block;
		height: $border-width;
		width: 25px;
		background-color: $black;
		transition: 0.1s 0.3s;
		
		&::before,
		&::after {
			content: '';
			position: absolute;
			display: block;
			left: 0;
			height: $border-width;
			width: 25px;
			background-color: $black;
			transform-origin: center;
			transition: top 0.2s 0.2s, transform 0.3s ease-in-out;
		}
		
		&::before {
			top: -7px;
		}
		
		&::after {
			top: 7px;
		}
		
		&-button {
			display: none;
			margin-left: 5px;
			padding: 0;
			border: 0;
			line-height: 0;
		
			@media (max-width: $sm - 1) {
				display: block;
			}
		
			&:focus {
				outline: none;
			}
		}
	}
	
	&-left {
		width: $side-nav-width + ($border-width * 2);
		border-top-right-radius: $border-radius-large;
		background-color: $black;
		color: $white;
		font-weight: 700;
		font-size: 0.875rem;
		text-align: center;
		
		@media (max-width: $sm - 1) {
			display: none;
		}
	}
}

.side-nav {
	grid-area: nav;
	
	@media (max-width: $sm - 1) {
		position: absolute;
		z-index: 10;
		visibility: hidden;
		width: $side-nav-width;
		transform: translateX(-100%);
		transition: 0.35s ease-in-out;
	}
	
	.nav {
		&-items {
			border-bottom-right-radius: $border-radius;
			border-right: solid $border-width $black;
			border-bottom: solid $border-width $black;
			background-color: $primary-color;
		}
		
		&-item {
			&:nth-child(odd) {
				.nav-link {
					&-icon {
						left: $spacer-large;
					}
					
					&-text {
						padding-left: calc(#{$spacer-large} + 1.5rem);
					}
				}
			}
			
			&-user {
				padding: $spacer;
				font-size: 0.75rem;
				line-height: 1.25;
				text-align: center;
				
				.user-item {
					display: block;
				}
				
				.user-link {
					font-weight: 700;
				}
			}
		
			&-form {
				padding: $spacer;
				text-align: center; 
				
				.form-container {
					display: flex;
				}
				
				.form-control {
					width: 100%;
				}
			}
			
			&-button {
				padding: $spacer $spacer-small 0;
				text-align: center;
			}
		}
		
		&-link {
			position: relative;
			display: block;
			padding: $spacer;
			font-size: 1rem;
			font-weight: 700;
			color: $black;
			
			&:hover {
				.nav-link-icon {
					color: $secondary-color;
					transform: rotate(-3deg) scale(1.1);
				}
			}
			
			&-small {
				font-size: 0.75rem;
			}
			
			&-main {
				font-size: 1.25rem;
				
				&::before {
					content: '';
					position: absolute;
					top: 10px;
					left: 5px;
					width: 65%;
					height: calc(100% - 1rem);
					background-color: $primary-color-tint;
					border-radius: 50%;
					transform-origin: center center;
					transition: 0.3s ease-in-out;
				}
				
				.nav-link-icon {
					font-size: 1.75rem;
				}
				
				.nav-link-text {
					padding: 0;
					
					.lg, 
					.md,
					.sm {
						position: relative;
					}
					
					.lg {
						font-size: 2rem;
					}

					.sm {
						font-size: 1rem;
					}
				}
			}
			
			&-icon {
				position: absolute;
				left: $spacer;
				// color: $white;
				font-size: 1.25rem;
				transform-origin: center center;
				transition: 0.25s ease-in-out;
			}
			
			&-text {
				position: relative;
				display: block;
				padding-left: 2rem;
			}
		}
	}
}

.content {
	grid-area: content;
	padding: 0 10px 50px;
	
	@media (max-width: $sm - 1) {
		&::before {
			content: '';
			position: absolute;
			z-index: 9;
			top: $header-height;
			left: 0;
			height: calc(100% - #{$header-height});
			width: 100%;
			background-color: rgba($primary-color-tint, 0.8);
			opacity: 0;
			visibility: hidden;
			transition: 0.25s;
		}
	}
	
	hr {
		border: none;
		border-bottom: solid 1px $grey;
	}
	
	&-header {
		display: flex;
		justify-content: flex-end;
	}
	
	&-banner {
		position: relative;
		z-index: 1;
		top: -$border-width;
		flex: 1 0 100%;
		min-height: 62px;
		max-width: 480px;
		margin-right: -10px;
		padding: 15px 10px 0;
		border-radius: $border-radius-large;
		border: solid $border-width-large $black;
		background-color: $turmeric;
		overflow: hidden;
		
		&-image {
			&::before,
			&::after {
				content: '';
				position: absolute;
				background-size: 100%;
			}
			
			&::before {
				z-index: 1;
				top: -10px;
				left: 0;
				width: 100px;
				height: 100px;
				background-image: var(--banner-image);
				transform: rotateY(180deg);
				
				@media (max-width: $sm - 1) {
					display: none;
				}
			}
				
			&::after {
				z-index: -1;
				top: -50px;
				left: 20px;
				width: 200px;
				height: 200px;
				background-image: var(--banner-image);
				opacity: 0.3;
			}
		}
		
		&-header {
			position: relative;
			z-index: 5;
			display: block;
			font-size: 2.5rem;
			font-weight: 700;
			text-align: right;
		}
		
		&-text-decor {
			position: absolute;
			right: 0;
			top: 0;
			font-size: 3.5rem;
			font-weight: 700;
			letter-spacing: -0.05em;
			opacity: 0.3;
		}
	}
	
	&-body {
		padding: $spacer-large 0;
		
		h1 {
			margin-bottom: $spacer-large;
		}
		
		h2 {
			margin-bottom: $spacer-large;
			text-transform: uppercase;
			
			&::before,
			&::after {
				content: ' - '
			}
		}
	}
	
	&-info {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
		margin-bottom: $spacer-large;
		
		&-body {
			grid-column-start: span 2;
			font-size: 0.875rem;
			margin-bottom: $spacer-large;
		}
		
		&-title {
			font-weight: 700;
		}
		
		&-link {
			font-weight: 700;
		}
		
		&-sheild {
			justify-self: center;
		}
	}
	
	&-quick {
		display: flex;
		justify-content: center;
		margin-bottom: $spacer-large;
		text-align: center;
		
		&-items {
			display: grid;
			grid-template-columns: repeat(4, 75px);
		}
		
		&-link {
			display: flex;
			flex-direction: column;
			align-items: center;
			
			&:hover {
				.content-quick-icon {
					transform: scale(1.1);
				}
			}
		}
		
		&-icon {
			font-size: 2rem;
			color: $primary-color;
			transform-origin: center center;
			transition: 0.25s ease-in-out;
		}
		
		&-text {
			font-size: 0.75rem;
		}
	}
	
	&-pets {
		margin-bottom: $spacer-large;
		
		&-items {
			display: grid;
			grid-gap: $spacer;
			grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
			margin-bottom: $spacer-large;
			text-align: center;
		}
		
		&-item {
			margin-bottom: $spacer;
		}
		
		&-link {
			font-weight: 700;
		}
		
		&-img {
			width: 100%;
			max-width: 80px;
		}
		
		&-text {
			display: block;
			font-size: 0.75rem;
			line-height: 1.25;
		}
	}
	
	&-trophies {
		margin-bottom: $spacer-large;
		
		&-items {
			display: grid;
			grid-gap: $spacer;
			grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
			margin-bottom: $spacer-large;
			text-align: center;
		}
		
		&-item {
			margin-bottom: $spacer;
		}
		
		&-img {
			width: 100%;
			max-width: 60px;
		}
		
		&-text {
			display: block;
			font-size: 0.75rem;
			line-height: 1.25;
			font-weight: 700;
			
			&.content-trophies-text-regular {
				font-weight: 400;
			}
		}
	}
	
	&-footer {
		font-size: 0.75rem;
		text-align: center;
	}
}

.nav-toggled {
	position: relative;
	height: 100vh;
	overflow: hidden;
	
	.header {
		.hamburger {
			background-color: transparent;
			transition: 0.1s;
			
			&::before,
			&::after {
				top: 0;
				transition: top 0.2s, transform 0.3s 0.2s ease-in-out;
			}
			
			&::before {
				transform: rotate(135deg);
			}
			
			&::after {
				transform: rotate(225deg);
			}
		}
	}
	
	.side-nav {
		height: 100vh;
		overflow-y: auto;
		visibility: visible;
		transform: translateX(0);
	}
	
	.content {
		&::before {
			opacity: 1;
			visibility: visible;
		}
	}
}

.gender-female,
.gender-male {
	font-weight: 700;
}

.gender-female {
	color: pink;
}

.gender-male {
	color: blue;
}

#petCentral {
	&:hover {
		&::before {
			transform: scale(1.1) rotate(-1deg);
		}
		.nav-link-icon {
			transform: rotate(6deg) scale(1.2);
		}	
	}
	
	&::before {
		left: 30px;
		transform: rotate(-3deg);
	}
	
	.nav-link-icon {
		left: auto;
		right: 20px;
	}
	
	.nav-link-text {
		padding: 0;
		
		.lg {
			top: 5px;
			left: 10px;
		}
		
		.md {
			left: 20px;
		}
	}
}

#createPet {
	&:hover {
		&::before {
			transform: scale(1.1) rotate(1deg);
		}
		.nav-link-icon {
			transform: rotate(-6deg) scale(1.2);
		}	
	}
	
	&::before {
		left: 15px;
		transform: rotate(3deg);
	}
	
	.nav-link-icon {
		left: 20px;
	}
	
	.nav-link-text {
		padding: 0;
		
		.lg {
			left: 55px;
		}
		
		.md {
			top: 5px;
			left: 45px;
		}
		
		.sm {
			top: 22px;
			left: -25px;
		}
	}
}

#login,
#logout {
	&::before {
		content: '';
		position: absolute;
		height: 1.5rem;
		width: 2rem;
		border-radius: 50%;
		background-color: $primary-color-tint;
		transform-origin: center center;
	}
}

#logout {
	&:hover {
		&::before {
			transform: rotate(-4deg) scale(1.1)
		}
		
		.nav-link-icon {
			transform: translateX(-3px) scale(1.1);
		}
	}
	
	&::before {
		left: 0.25rem;
		transform: rotate(-10deg);
	}
}

#login {
	&:hover {
		&::before {
			transform: rotate(4deg) scale(1.1)
		}
		
		.nav-link-icon {
			transform: translateX(3px) scale(1.1);
		}
	}
	
	&::before {
		right: 0.5rem;
		transform: rotate(10deg);
	}
	
	.nav-link-icon {
		left: auto;
		right: $spacer-large;
	}
	
	.nav-link-text {
		padding-left: 0;
		padding-right: calc(#{$spacer-large} + 1.5rem);
		text-align: right;
	}
}